<div class="mb-6 text-center">
  <h1 class="text-2xl font-bold">Residents</h1>
</div>
<button routerLink="/admin/resident-create" class="btn btn-secondary">Add resident</button>

@if (residentsResource.value()?.count === 0) {
  <div class="alert alert-info">
    No residents registered yet
  </div>
} @else {
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mt-2">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Apartment Number</th>
          <th>Ready for raffle</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (resident of residentsResource.value()?.residents; track $index) {
          <tr>
            <th>{{$index +1}}</th>
            <td>{{ resident.name }}</td>
            <td>{{ resident.email }}</td>
            <td>{{ resident.apartmentNumber }}</td>
            <td>
              <i [class]="resident.registeredForCurrentRaffle | booleanIcon"></i>
            </td>
            <td class="text-right space-x-2">
              <button
                class="btn btn-sm btn-outline"
                (click)="editResident(resident)">
                Edit
              </button>

              <button
                class="btn btn-sm btn-error btn-outline"
                (click)="deleteResident(resident.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
@if (hasDeleted()) {
  <div role="alert" class="alert alert-success animate-fadeIn fixed bottom-5 right-5 w-52">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{alertMessage()}}</span>
  </div>
}
