<div class="max-w-3xl mx-auto p-4 space-y-6">
  <button   class="btn"
  [class.btn-secondary]="!isCurrentlyRegisteredForRaffle()"
  [class.btn-warning]="isCurrentlyRegisteredForRaffle()" onclick="register_raffle_modal.showModal()">{{buttonLabel()}}</button>
  <div class="card bg-base-100 shadow">
    <div class="card-body space-y-2">
      <h2 class="card-title text-xl">Your Current Parking Assignment</h2>

      @if (historyResource.value()?.residentHistory?.length) {
        @let latest = historyResource.value()?.residentHistory?.[0]!;
        <app-resident-spot-card-component [history]="latest"></app-resident-spot-card-component>
      } @else {
        <p class="opacity-70 text-sm">No current parking assignment.</p>
      }
    </div>
  </div>

  <div class="card bg-base-100 shadow">
    <div class="card-body">
      <h3 class="card-title text-lg">Full Assignment History</h3>
      <p class="opacity-60 text-sm">Every raffle you participated in.</p>
      <div class="divider"></div>
      @if (historyResource.value()) {
        <div class="space-y-4">

          @for (history of historyResource.value()?.residentHistory; track history.executedAt) {
            <app-resident-spot-card-component [history]="history" [isLatest]="false"></app-resident-spot-card-component>
          }

        </div>
      } @else {
        <p class="opacity-70">No history available.</p>
      }
    </div>
  </div>

</div>

<dialog id="register_raffle_modal" class="modal">
  <app-resident-register-raffle-modal (registered)="closeModal($event)" [isRegistered]="isCurrentlyRegisteredForRaffle()"></app-resident-register-raffle-modal>
</dialog>

@if (hasRegistered()) {
  <div role="alert" class="alert alert-success animate-fadeIn fixed bottom-5 right-5 w-52">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{registerMessage()}}</span>
  </div>
}
